*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:rgb(15, 15, 43);
    overflow-x:hidden;
    overflow-y:hidden;
    animation: NightAndDay 10s ease-in-out infinite alternate;
}

.moon{
    height:10vw;
    width:10vw;
    left:10vw;
    top: 10vw;
    background-color:rgb(248, 248, 234);
    border-radius:100%;
    box-shadow:0px 0px 10px rgba(248, 248, 234,0.5), 0px 0px 80px rgba(248, 248, 234,0.2), 0px 0px 40px rgba(248, 248, 234,0.5), inset 0 0 10px #9c9797;
    filter:blur(0.5px);
    /* animation: moonShine 3s infinite; */
}

.moon::before{
    content: " ";
    display:block;
    height:2vw;
    width:2vw;
    background-color:#c9c9c9b9;
    filter:blur(10px);
    border-radius:100%;
    position:absolute;
    left:2vw;
    top:2vw;

}

.moon::after{
    content: " ";
    display:block;
    height:2vw;
    width:2vw;
    border-radius:100%;
    background-color:#c9c9c996;
    filter:blur(10px);
    position:absolute;
    right:2vw;
    bottom:2vw;

}

.rotatingMoon{
    z-index:99;
    height:100vh;
    width:100vw;
    padding:20px;
    position:absolute;
    animation:moonShine 20s infinite linear;
    display:flex;
    align-items:flex-start;
    justify-content: center;
    z-index:0;
}



.sea{
    width:100vw;
    height:30vw;
    position:absolute;
    bottom:0;
    background-color:#0e0a2b;
    box-shadow:inset 0 5vw 20vw rgba(0,0,0,0.4), 0 0 15px rgba(27, 31, 66,0.3);
    animation: SeaNaD 10s ease-in-out infinite alternate;
}

.boat-container{
    position:absolute;
    left:50%;
    bottom:30vw;
    height:50vw;
    display:flex;
    align-items:flex-end;
    animation: floating 2s infinite linear;

}
.boat{
    background-color:rgb(0, 0, 0);
    background-image:linear-gradient(135deg, rgb(36, 36, 36), rgb(0, 0, 0));
    height:16vw;
    width:80vw;
    border-radius:0 0 50% 50%;
    position:relative;
    z-index:9;
}

.boat::before{
    content: " ";
    display:block;
    height:8vw;
    width:inherit;
    border-radius: 0 0 58vw 48vw;
    background-image:
    linear-gradient(0deg, rgb(13, 17, 49), rgb(150, 66, 66));
    position:absolute;
    bottom:0; 
    left:-2.5vw;
    width:86.5vw;
}

.boat::after{
    content: " ";
    display:block;
    height:10vw;
    width:100%;
    border-radius:0 0 50% 50%;
    background-image:yellow;
    position:absolute;
}

.boat-front{
    background-color:rgb(49, 49, 49);
    background-image:linear-gradient(91deg, rgb(53, 53, 53), rgb(35, 35, 35));
    height:8vw;
    width:5vw;
    position:absolute;
    left:-5vw;
    clip-path:polygon(0% 0%, 70% 50%, 50% 100%, 100% 100%, 100% 0%);
}

.boat-behind{
    background-color:rgb(46, 46, 46);
    background-image:linear-gradient(91deg, rgb(5, 5, 5), rgb(32, 32, 32));
    height:8vw;
    width:5vw;
    position:absolute;
    z-index:99;
    right:-5vw;
    clip-path:polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}


.mast1{
    width:0.7vw;
    height:40vw;
    position:absolute;
    bottom:5vw;
    left:5vw;
    transform:rotate(5deg);
    background-color:rgb(99, 60, 42); 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100% );
}

.mast2{
    width:0.7vw;
    height:35vw;
    position:absolute;
    bottom:5vw;
    right:5vw;
    transform:rotate(-15deg);
    background-color:rgb(99, 60, 42);
    clip-path: polygon(60% 0%, 50% 0%, 0% 100%, 100% 100% );
}

.cables{
    position:absolute;
}

.cable{
    border:1px solid rgb(102, 102, 102);
    width:65vw;
    height:4vw;
    position:absolute;
    z-index:5;
    border-radius:100%;
    clip-path:ellipse(100% 1.8vw at bottom center);
}

.cable1{
    top:-43vw;
    left:6vw;
    transform:rotate(3deg);
}

.cable2{
    top:-43.5vw;
    left:6vw;
    transform:rotate(3.5deg);
}

.cable3{
    top:-43.3vw;
    left:6vw;
    transform:rotate(3.0deg);
}

.chemneys{
    position:absolute;
    width:50%;
    left:50%;
    transform:translateX(-50%);
    bottom:21vw;
    display:grid;
    place-content:center;
    place-items:center;
    grid-template-columns:repeat(4,1fr);

}


.chemney{
    height:8vw;
    width:3vw;
    transform:rotate(-10deg);
    background-image: 
    linear-gradient(0deg, rgba(51, 7, 7,0.6) 10%, transparent 50%),
    linear-gradient(135deg, rgb(104, 66, 10) 20%, rgb(160, 97, 26) 50%);

}

.chemney::before{
    content:" ";
    display:block;
    height:3vw;
    width:3vw;
    position:absolute;
    background-color:rgb(0, 0, 0);
}

.smoke{
    display:block;
    background-color:white;
    width:3vw;
    height:3vw;
    border-radius:100%;
    position:absolute;
    filter: blur(7px);
}

.chemney1 .smoke{
    animation:smoke 2s infinite;
}

.chemney2 .smoke{
    animation:smoke 2s infinite;
}

.chemney3 .smoke{
    animation:smoke 2s infinite;
}

.chemney4 .smoke{
    animation:smoke 2s infinite;
}

@keyframes smoke{
    from{ 
        transform:translateY(-1rem);
        opacity:1;
    }
    to{
        
    transform:translateY(-2rem) translateX(-2rem) scale(0);
    opacity:0;
    }

}

.decks{
    position:absolute;
    height:50vw;
    width:80vw;
    bottom:16vw;
    z-index:99;
    display:flex;
    flex-direction:column-reverse;
    justify-content:flex-start;
    align-items:center;
}

.deck{
    background-color:rgb(148, 148, 148);
    background-image: 
    linear-gradient(170deg, white 20%, transparent 28% ),
    linear-gradient(270deg, transparent 65%, rgb(252, 252, 252) 75%),
    linear-gradient(75deg, #efefef, rgb(109, 109, 109));
    box-shadow:inset -2px -2px 30px rgb(56, 52, 52);
    height:2vw;
    border-radius:5px 5px 0px 0px;
    place-items:center;
    display:grid;
    position:relative;
}

.deck::before{
    content:" ";
    display:block;
    position:absolute;
    height:.3vw;
    width:100%;
    top:0px;
    background-color:rgb(182, 182, 182);
    box-shadow:#9c9c9cd0 0px 2px 3px, inset rgb(65, 65, 65) 0 0 1px;

}

.deck div{
    height:0.8vw;
    width:0.8vw;
    position:relative;
    background-color:rgb(255, 225, 171);
    animation:windowParty 10s ease-in-out infinite alternate;
    box-shadow: inset 1px 1px 5px #555555d8, 0px 0px 1px white;
}

.deck div:hover:before{
    content:" ";
    display: block;
    height:0.8vw;
    width:0vw;
    border-radius: 100% 0;
    background-color:rgb(128, 128, 128);
    transition:0.3s;
}

.deck div:after{
    content:" ";
    display: block;
    height:0.8vw;
    width:0.3vw;
    position:absolute;
    right:0;
    top:0;
    border-radius: 0 0 0 100%;
    background-color:rgb(128, 128, 128);
    transition:0.3s;
    animation:windowOpening 10s ease-in-out infinite alternate;
}

.deck div:hover:after{
    content:" ";
    display: block;
    height:0.8vw;
    width:0vw;
    position:absolute;
    right:0;
    top:0;
    border-radius: 0 0 0 100%;
    background-color:rgb(128, 128, 128);
    transition:0.3s;
}

.deck div:before{
    content:" ";
    display: block;
    height:0.8vw;
    width:0.3vw;
    border-radius: 100% 0;
    background-color:rgb(128, 128, 128);
    transition:0.3s;
    transition-delay: 0.3s;
    animation:windowOpening 10s ease-in-out infinite alternate;

}

.cloud{
    width:5rem;
    height:5rem;
    margin-top:5vw;
    position:relative;
    z-index:99;
    filter:blur(1px);
    perspective:30px;
    transform:translateY(-180px);
    perspective:30px;
}

.cloud1{
    animation: cloudTravel 20s infinite reverse linear;

}

.cloud2{
    animation: cloudTravel 10s infinite reverse linear;

}

.cloud3{
    animation: cloudTravel 5s infinite reverse linear;

}

.cloud div{
    background-color:white;
    width:2rem;
    height:2rem;
    border-radius:100px;
    position:absolute;
    transform:translateZ(-20px);
}

.cloud div:nth-of-type(1){
    width:3rem;
    height:3rem;
    right:-1rem;
}

.cloud div:nth-of-type(2){
    width:4rem;
    height:4rem;
    top:-2rem;
}

.cloud div:nth-of-type(3){
    background-color:white;
    width:5rem;
    height:5rem;
    left:-3rem;
    bottom:1rem;
}



.deck div:after{
    content:" ";
    display: block;
    height:0.8vw;
    width:0.3vw;
    position:absolute;
    right:0;
    top:0;
    border-radius: 0 0 0 100%;
    background-color:rgb(128, 128, 128);
    transition:0.3s;
    transition-delay: 0.3s;
}

.deck1{
    width:90%;
    grid-template-columns:repeat(18, 1fr);

}

.deck2{
    width:70%;
    grid-template-columns:repeat(18, 1fr);
}

.deck3{
    width:50%;
    grid-template-columns:repeat(18, 1fr);
    
}

.seaboat{
    width:100vw;
    height:18vw;
    border:5vw solid rgb(39, 80, 80);
    border-width:0 0 5px;
    border-radius:5vw;
    backdrop-filter:blur(8px);
    position:relative;
    z-index:100;
    background-color:rgb(0, 20, 20);
    transform:rotate(180deg) translateY(-20vw);
    filter:blur(8px);
    animation: SeaNaD 10s ease-in-out infinite alternate;
    opacity:0.8;

}

@keyframes floating {
    0%, 100% {
        transform:  translateX(-50%) translateY(50%);
    }

    50% { 
        transform:  translateX(-50%) translateY(51%);
    }
    
}

@keyframes moonShine {
    from{
        transform:rotate(0deg) translateY(50vw) rotate(-0deg);
    }

    to {
        transform:rotate(360deg) translateY(50vw) rotate(-360deg);
    }

    
}

@keyframes NightAndDay {
    0%{
        background-color:rgb(15, 15, 43);
    }

    25%, 30%{
        background-color: rgb(151, 87, 26);
    }

    100%{
        background-color: rgb(111, 195, 216);
    }
}

@keyframes SeaNaD {
    0%{
        background-color:rgb(15, 15, 43);
    }

    25%, 30%{
        background-color: rgb(73, 36, 1);
    }

    100%{
        background-color: rgb(26, 79, 92);
    }
}

@keyframes windowOpening {
    0%{
        width:0.3vw;
    }

    25%, 30%{
        width:0.3vw;
    }

    100%{
        width:0vw;
    }
}

@keyframes windowParty {  
    0%{
    background-color:rgb(228, 181, 52);
}

25%, 30%{
    background-color: rgb(248, 211, 4);
}

100%{
    background-color: rgb(13, 15, 15);
}
    
}


@keyframes cloudTravel { 
    from{
        transform:translateX(-50vw);

    }

    to{
        transform:translateX(100vw);
    }
}
